.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.heading_div
{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px blanchedalmond;
}
.heading_div2
{
    font-size: 18px;
}
.result_para_tag
{
    font-size: 20px;
    box-shadow: 5px 5px 5px grey;
}
.copy_right_footer
{
position: fixed;
color: indigo;
bottom: 0;
width: 100%;
background-color: lightpink;
line-height: 3;
text-align: left;
}
canvas
{
    border: 5px solid cyan;
    border-radius: 20px;
    box-shadow: 5px magenta;
    margin-top: 150px;
}